extends layout 

block content 
  div 
    a(href='/inventory/catalog/create') Create catalog
    p List of catalogs:
    ul
      each catalog in catalogs 
        li 
          a(href=catalog.url) #{catalog.name}