doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navigation 
      div 
        a(href='/inventory') Inventory 
        a(href='/inventory/sellers') Sellers 
        a(href='/inventory/catalogs') Catalogs

    block content

    