extends layout 

block content 
  div 
    a(href='/inventory/seller/create') Create seller
    p List of sellers:
    ul
      each seller in sellers 
        li 
          a(href=seller.url) #{seller.name}